<!DOCTYPE html>
<html>
<head>
  <title>Routes List</title>
</head>
<body>
    <div class = "section">
        <h2>User Name</h2>
         
         <h6>Number of posts x</h6>
         
    </div>

        <div class = "section">
        <h2>User Name</h2>
         
         <h6>Number of posts x</h6>
         
    </div>

        <div class = "section">
        <h2>User Name</h2>
         
         <h6>Number of posts x</h6>
         
    </div>

        <div class = "section">
        <h2>User Name</h2>
         
         <h6>Number of posts x</h6>
         
    </div>
    
</body>
</html>
