<h1>Posts for <%= @user.name %></h1>

<!-- Display the user's name -->
<p>User: <%= @user.name %></p>

<!-- Loop through and display the user's posts -->
<% @posts.each do |post| %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <!-- You can add more post details here -->
  </div>
<% end %>
